@import "tailwindcss";

@theme {
  --color-background: #f1f5f9;
  --color-foreground: #0f172a;
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom, 1rem);
  }
}

html, body {
  overscroll-behavior-y: none;
}
